/.quarto/
/_site/
/_book/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

*.csv
*.docx
*.drawio
*.fst
*.gz
*.rds
*.jpg
*.log
*.pdf
*.png
*.pptx
*.RData
*.rdb
*.rdx
*.xlsx


